html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgba(93, 54, 255, 0.02);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button, .snipcart-button-primary {
  color: white;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(93 54 255 / 68%);
  padding: .4em .6em;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

button:hover, .snipcart-button-primary:hover{
  background-color: #fe1717;
  /*background-color: #f87676;*/
  transform: scale(1.05);
  margin-left: .3rem;
  padding-left: 1.1rem;
}

.snipcart-button-link:hover{
  color: #fe1717;
  margin-left: unset;
  padding-left: unset;
}

.snipcart-cart-header__close-button, .snipcart-modal__close:hover{
  background-color: rgba(0,0,0,0);
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

@media (min-width: 768px){
  .snipcart-cart-summary--edit.snipcart-modal__container{
    background: #000;
  }
}
