.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}

.productImage {
  max-width: 50%;
}

.productDetails p{
  max-width: 40ch;
}